<div class="card clickable">
  <div class="card-header">
    IoT Device
  </div>
  <div class="card-img">
    <img src="../../assets/Bildcomposing_EY-modulo-6_Mann_Helm_Tablet_Skyline-480x240.png">
  </div>
  <div class="card-block">
    <span class="card-media-text">
      Part Nr: {{ partno }}
    </span>
  </div>
  <div class="card-block">
    <span class="card-media-text">
      Manufacturer: {{ manufacturer }}
    </span>
  </div>
  <div class="card-block">
    <div class="card-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis ipsum suscipit aspernatur optio impedit!
      Laboriosam iure quod, dolore sit itaque expedita, explicabo corporis eos unde iusto aut, repudiandae odio optio!
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-sm btn-link">Connect</button>
  </div>
</div>
