<div class="card clickable">
  <div class="card-header">
    IoT Device
  </div>
  <div class="card-img">
    <img src="../../assets/media-tek-3620.jpg">
  </div>
  <div class="card-block">
    <span class="card-media-text">
      Part Nr: {{ partno }}
    </span>
  </div>
  <div class="card-block">
    <span class="card-media-text">
      Platform: {{ platform }}
    </span>
  </div>
  <div class="card-block">
    <div class="card-text">
      MediaTek’s new cross-over class of MCU includes built-in Microsoft security technology, built-in connectivity, and combines the versatility and power of a Cortex-A processor with the low overhead and real-time guarantees of a Cortex-M class processor.</div>
  </div>
  <div class="card-footer">
    <button class="btn btn-sm btn-link">Connect</button>
  </div>
</div>
