<div class="main-container">
  <header class="header-6">
    <div class="branding">
      <a href="#" class="nav-link">
        <clr-icon shape="devices"></clr-icon>
        <span class="title">Micro Apps</span>
      </a>
    </div>
    <form class="search">
      <label for="search_input">
        <input id="search_input" type="text" placeholder="Search for keywords...">
      </label>
    </form>
    <div class="header-actions">
      <a href="..." class="nav-link nav-icon" aria-label="settings">
        <clr-icon shape="cog"></clr-icon>
      </a>
    </div>
  </header>
  <nav class="subnav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['/dashboard']" routerLinkActive="router-link-active">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/workflow']" routerLinkActive="router-link-active">Workflow</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/plants']" routerLinkActive="router-link-active">Plants</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/management']" routerLinkActive="router-link-active">Management</a>
      </li>
    </ul>
  </nav>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
