<div class="clr-row">

  <div class="clr-col-4">
    <clr-stack-view>
      <clr-stack-header>Plant diagram</clr-stack-header>
      <clr-stack-block>
        <clr-stack-label>Vendor</clr-stack-label>
        <clr-stack-content>Smallville High school</clr-stack-content>
      </clr-stack-block>
      <clr-stack-block [clrSbExpanded]="true">
        <clr-stack-label>Heating Module</clr-stack-label>
        <clr-stack-content>Boiler</clr-stack-content>
        <clr-stack-block>
          <clr-stack-label>Manufacturer</clr-stack-label>
          <clr-stack-content>Gorenje</clr-stack-content>
        </clr-stack-block>
        <clr-stack-block>
          <clr-stack-label>Model</clr-stack-label>
          <clr-stack-content>Sava 232-R</clr-stack-content>
        </clr-stack-block>
        <clr-stack-block>
          <clr-stack-label>Output Power</clr-stack-label>
          <clr-stack-content>1000 kWh</clr-stack-content>
        </clr-stack-block>
      </clr-stack-block>
      <clr-stack-block>
        <clr-stack-label>Ventilation Module</clr-stack-label>
        <clr-stack-content>Operational</clr-stack-content>
        <clr-stack-block>
          <clr-stack-label>Fan Filter</clr-stack-label>
          <clr-stack-content>Anti-pollen</clr-stack-content>
        </clr-stack-block>
        <clr-stack-block>
          <clr-stack-label>Power Supply</clr-stack-label>
          <clr-stack-content>220 V</clr-stack-content>
        </clr-stack-block>
      </clr-stack-block>
    </clr-stack-view>
    <div class="alert alert-success" role="alert">
        <div class="alert-items">
            <div class="alert-item static">
                <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
                </div>
                <span class="alert-text">Plant is being operational for 2 months.</span>
            </div>
        </div>
    </div>
  </div>

  <div class="clr-col-4">
    <div class="card-img">
      <img src="../assets/minim-devices-iot.png">
    </div>
  </div>

  <div class="clr-col-3">
    <div class="card">
      <div class="card-block">
          <div class="alert alert-warning alert-sm" role="alert">
              <div class="alert-items">
                  <div class="alert-item static">
                      <div class="alert-icon-wrapper">
                          <clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>
                      </div>
                      <div class="alert-text">
                          Air pressure value is too high (>3.0 bar).
                      </div>
                  </div>
              </div>
              <button type="button" class="close" aria-label="Close">
                  <clr-icon aria-hidden="true" shape="close"></clr-icon>
              </button>
          </div>
        <h4 class="card-title">Parameters</h4>
        <clr-toggle-wrapper>
            <input type="checkbox" clrToggle checked="true" name="options" />
            <label>Anti-freeze lower than 4 degrees</label>
          </clr-toggle-wrapper>
        <clr-input-container>
          <label>Input power (kW)</label>
          <input clrInput type="number" name="example" value="100" />
        </clr-input-container>
        <clr-input-container>
          <label>Air pressure (Bar)</label>
          <input clrInput type="number" name="example" value="3.1" />
        </clr-input-container>
        <clr-date-container>
          <label>Schedule</label>
          <input type="date" clrDate name="demo">
        </clr-date-container>
      </div>
      <div class="card-footer">
        <div class="progress-static top">
          <div class="progress-meter" data-value="..."></div>
        </div>
        <button class="btn">Update</button>
      </div>
    </div>
  </div>

</div>
